.type-1223{
    @color:rgba(102,114,121,1);
         background-color: rgb(239, 239, 239);
     
    .onlineSupport{
        background-image: url(../images/page-contact-bg.jpg);
         padding-bottom: 50px;
        background-position: 0% 439.2px;
    }

    .onlineSupport .center .Button {
        border: 3px solid white;
        padding: 10px 50px;
        display:inline-block;
        margin: 0 auto;
        font-size: 16px;
        font-weight: bold;
        color: white;
        transition-property: background,color;
        transition-duration: 1s;
        transition-delay: 0s;
        margin-top:60px;
        z-index:999;

    }
    a.Button:hover{
        background: #EEE;
        color: black !important;

    }

    .onlineSupport .center .Button {
      text-decoration:none;
    }

    .onlineSupport .center span{
        color: white;
        font-size:12px;
        font-weight: bold;
        padding-top: 10px;
        display:block;

    }

    .widget:first-child{
        margin-top: 0;
    }
   .widget ul{
        list-style:none;
        padding-left: 0px;
   }
    .widget ul li{
       padding: 4px !important;
   }
   .widget ul li a{
        display: inline-block;
        padding: 0 3px 0 12px;
        background: url(../images/widget-link.png) left top no-repeat;
        border: none !important;
        color: #999;
        font-size: 14px;
        text-decoration:none;
   }

   .widget ul li a:hover{
        color: #000;
   }

   .footer{
        margin-top: 45px;
   }


   .fb-page{
      overflow:auto;
   }

   @media (max-width: 500px)
   {
        .onlineSupport{
            background-size: cover;
            padding-bottom: 50px;
        }
   }

   @media (max-width: 400px)
   {
      .fb-page span{
         width: 300px !important;
         height: 400px !important;
      }
   }
  

}